<div class="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="left">
          <h1>Group Health Insurance</h1>
          <p style="color: green;">Lorem ipsum Dolor Lorem Style</p>
          <img src="assets/img.jpg">
        </div>

      </div>
      <div class="col-6">
       <div class="right">
         <!-- <app-reusebale [userData]="userData" (respons)="getuserData($event)"></app-reusebale> -->
         <template #parent></template>
         <button class="form-control" (click)="createChild()"> ADD MEMBERS </button>
         <button class="form-control"> View Price</button>
       </div>

      </div>

    </div>
  </div>

</div>
